<mat-toolbar>
  <mat-toolbar-row>
    <div class="header-content-left">DUMMY WEBSITE NAME</div>
    <div class="header-content-right">
      <a mat-button class="header-button" routerLink="/login" routerLinkActive="active">Login</a>
      <a mat-button class="header-button">Select Class</a>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="nav-menu">
    <div >
      <a class="nav-menu-button" mat-button routerLink="/subjects" routerLinkActive="active">Lessons</a>
      <a class="nav-menu-button" mat-button routerLink="/assignment" routerLinkActive="active">Assignment</a>
      <a class="nav-menu-button" mat-button routerLink="/streaming" routerLinkActive="active">Live Streaming</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
